---
import '../style/style.scss'

const {title} = Astro.props.frontmatter
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="https://emoji.jw1.dev/✨"/>
  <link rel="stylesheet" href="https://cwgi-cli.jw1.dev/style.css?v=4"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>CWGI Docs</title>
</head>
<body>
<div class="max-w-[46rem] mx-auto w-full md:px-0 px-4 py-8">
  <h1 class="text-3xl font-black text-black pb-8">CWGI - {title ? title : 'Comment With GitHub Issues'}</h1>
  <div class="page-content">
    <slot></slot>
  </div>

  {Astro.url.pathname === '/' &&
    <div class="">
      <div id="cwgi_box"></div>
      <script src="https://cwgi-cli.jw1.dev/cwgi.iife.js?v=3" is:inline></script>
      <script is:inline>
        _CWGI.init(110, {
          darkMode: false,
          owner: 'jw-12138',
          repo: 'jw-12138.github.io',
          clientId: 'Iv1.717c117523f74671',
          proxy: 'https://cwgi.jw1.dev'
        })
      </script>
    </div>}

</div>
</body>
</html>
