---
import '../style/style.scss'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="https://emoji.jw1.dev/✨"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>CWGI Docs</title>
</head>
<body>
<div class="max-w-[46rem] mx-auto w-full md:px-0 px-4 py-8">
  <h1 class="text-3xl font-black text-black pb-8">CWGI - Comment With GitHub Issues</h1>
  <div class="page-content">
    <slot></slot>
  </div>
</div>
</body>
</html>
